node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
/.env.local
.venv/
venv/
dist/
build/
.DS_Store
.vscode/
/.idea/
__pycache__/
*.pyc
frontend/dist/
backend/node_modules/